<div class="rectangles" >
    <!-- Adicione 10 retângulos verdes -->
    <div *ngFor="let spots of spotList">
    <div class="rectangle"> {{spots.id}}
      <div class="info-box" *ngIf="spots.currentCar">
        <p>Marca: {{spots.currentCar.Marca}}</p>
        <p>Modelo: {{spots.currentCar.Modelo}}</p>
        <p>Placa: {{spots.currentCar.Placa}}</p>
        <p>Hora de entrada: {{spots.currentCar.HoraEntrada}}</p>
        <p>Hora de saída: {{spots.currentCar.HoraSaida}}</p>
        <p>Valor pago: R$ {{spots.currentCar.ValorPago}}</p>
        <button href="#"># Registrar Saída</button>
      </div>
    </div>
  </div>
  </div>