<div class="rectangles">
    <!-- Adicione 10 retângulos verdes -->
    <div class="rectangle">
      <div class="info-box">
        <p>Marca: Chevrolet</p>
        <p>Modelo: Onix</p>
        <p>Placa: ABC-1234</p>
        <p>Hora de entrada: 10:00</p>
        <p>Hora de saída: 15:30</p>
        <p>Valor pago: R$ 20,00</p>
        <button href="#"># Registrar Saída</button>
      </div>
    </div>
    <div class="rectangle" >
      <div class="info-box">Informações adicionais aqui.</div>
    </div>
    <div class="rectangle">
      <div class="info-box">Informações adicionais aqui.</div>
    </div>
    <div class="rectangle">
      <div class="info-box">Informações adicionais aqui.</div>
    </div>
    <div class="rectangle">
      <div class="info-box">Informações adicionais aqui.</div>
    </div>
    <div class="rectangle">
      <div class="info-box">Informações adicionais aqui.</div> 
    </div>
    <div class="rectangle">
      <div class="info-box">Informações adicionais aqui.</div>
    </div>
    <div class="rectangle">
      <div class="info-box">Informações adicionais aqui.</div>
    </div>
    <div class="rectangle">
      <div class="info-box">Informações adicionais aqui.</div>
    </div>
    <div class="rectangle">
      <div class="info-box">Informações adicionais aqui.</div>
    </div>
  </div>